<template>
  <div>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap fill-height>
        <v-flex xs12>
          <v-flex xs7>
            <v-card-title>
              <h1>Auditories</h1>
              <v-spacer />
              <v-text-field
                v-model="searchFilter"
                append-icon="search"
                label="Search"
                class="search-field" />
            </v-card-title>
          </v-flex>
        </v-flex>
        <v-layout row>
          <v-flex xs7>
            <div class="data-table">
            <v-data-table
              :headers="headers"
              :items="tableData"
              :search="searchFilter"
              hide-actions
              disable-initial-sort
              class="elevation-1 data-table">
              <template slot="items" slot-scope="{ item }">
                <tr :active="item.Id === model.Id" @click="rowSelected(item)">
                  <td class="text-xs-left">{{ item.Name }}</td>
                  <td class="text-xs-left">{{ item.Amount }}</td>
                  <td class="text-xs-left">{{ item.BuildingName }}</td>
                  <td class="text-xs-left">{{ item.AuditoryType }}</td>
                  <td class="text-xs-left">{{ item.Description }}</td>
                </tr>
              </template>
            </v-data-table>
            </div>
            <v-layout align-center justify-space-between row mt-3>
              <div>
                <v-btn @click="addEvent" v-show="!isChanged" color="success">Add</v-btn>
                <v-btn @click="deleteEvent" v-show="!isChanged" color="error">Delete</v-btn>
              </div>
              <div>
                <v-btn @click="cancelEvent" v-show="isChanged" color="normal">Cancel</v-btn>
                <v-btn @click="saveEvent" v-show="isChanged" color="info">Save</v-btn>
              </div>
            </v-layout>
          </v-flex>
          <v-flex xs-6 offset-xs1>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="model.Name"
                :rules="rules.Name"
                :counter="10"
                label="Auditory name"
                required
                validate-on-blur
              />
              <v-text-field
                v-model="model.Amount"
                :rules="rules.Amount"
                label="Amount"
                required
                validate-on-blur
              />
              <v-select
                :items="buildingKeyValues"
                v-model="model.BuildingId"
                :rules="rules.BuildingId"
                label="Building"
                required
                validate-on-blur
              />
              <v-select
                :items="auditoryTypeKeyValues"
                v-model="model.TypeId"
                :rules="rules.TypeId"
                label="Auditory type"
                required
                validate-on-blur
              />
              <v-text-field
                v-model="model.Description"
                label="Description"
              />
            </v-form>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
    <confirm-dialog
      ref="confirm"
      title="Ви впевнені?"
      text="Відмінити видалення неможливо."
    />
  </div>
</template>

<script>
import './store'
import mixin from '../../mixin'
import { mapActions, mapGetters } from 'vuex'
import ConfirmDialog from '../../shared/ConfirmDialog'

export default {
  mixins: [
    mixin
  ],
  components: {
    ConfirmDialog
  },
  constants: {
    headers: [
      { text: 'Auditory name', value: 'Name' },
      { text: 'Amount', value: 'Amount' },
      { text: 'Building', value: 'BuildingName' },
      { text: 'Auditory type', value: 'AuditoryType' },
      { text: 'Description', value: 'Description' }
    ],
    rules: {
      Name: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 10) || 'Name must be less than 10 characters'
      ],
      Amount: [
        v => !!v || 'Amount is required'
      ],
      BuildingId: [
        v => !!v || 'BuildingId is required'
      ],
      TypeId: [
        v => !!v || 'TypeId is required'
      ]
    }
  },
  computed: {
    ...mapGetters('admin/auditory', {
      tableData: 'auditoryList',
      buildingKeyValues: 'buildingKeyValues',
      auditoryTypeKeyValues: 'auditoryTypeKeyValues'
    }),
    modelsEqual () {
      return (
        global.valueEquals(this.model.Name, this.modelCopy.Name) &&
        global.valueEquals(this.model.TypeId, this.modelCopy.TypeId) &&
        global.valueEquals(this.model.BuildingId, this.modelCopy.BuildingId) &&
        global.valueEquals(this.model.Amount, this.modelCopy.Amount) &&
        global.valueEquals(this.model.Description, this.modelCopy.Description)
      )
    }
  },
  methods: {
    ...mapActions('admin/auditory', [
      'getAll',
      'getById',
      'getBuildings',
      'getAuditoryTypes',
      'add',
      'update',
      'delete'
    ])
  },
  created () {
    this.getBuildings()
    this.getAuditoryTypes()
  }
}
</script>

<style scoped>
</style>
