<template>
  <div>
      <v-toolbar
        color="blue-grey"
        dark
        fixed
        app
        clipped-right
      >
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>University</v-toolbar-title>
        <v-spacer></v-spacer>

      </v-toolbar>
    <v-navigation-drawer
      fixed
      v-model="drawer"
      app>
      <v-list dense class="pt-0 mrg-45">
        <v-list-tile
          v-for="item in items"
          :key="item.title"
          @click="go(item.path)">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title to="/services">{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
      <v-content>
        <v-container fluid class="full-height">
             <router-view/>
        </v-container>
      </v-content>
  </div>
</template>

<script>
import routes from './routes'
import './store'

export default {
  routes,
  data: () => ({
    drawer: false,
    Title: 'Admin',
    items: [
      {
        title: 'Auditories',
        icon: 'dashboard',
        path: '/admin/auditories'
      },
      // {
      //   title: 'Auditorytypes',
      //   icon: 'dashboard',
      //   path: '/admin/auditorytypes'
      // },
      {
        title: 'Students',
        icon: 'dashboard',
        path: '/admin/students'
      },
      {
        title: 'Teachers',
        icon: 'dashboard',
        path: '/admin/teachers'
      },
      // {
      //   title: 'Groups',
      //   icon: 'dashboard',
      //   path: '/admin/groups'
      // },
      // {
      //   title: 'Faculties',
      //   icon: 'dashboard',
      //   path: '/admin/faculties'
      // },
      // {
      //   title: 'Subjects',
      //   icon: 'dashboard',
      //   path: '/admin/subjects'
      // },
      {
        title: 'Week schedules',
        icon: 'dashboard',
        path: '/admin/weekschedules'
      }
      // {
      //   title: 'Specialties',
      //   icon: 'dashboard',
      //   path: '/admin/specialties'
      // }
    ]
  }),
  props: {
    source: String
  },
  methods: {
    go (path) {
      this.$router.push(path)
    }
  }
}
</script>

<style scoped>
  .full-height{
    height: 100%;
  }
  .mrg-45 {
    margin-top: 45px;
  }
</style>
