<template>
  <div>
    <router-view/>
  </div>
</template>

<script>
import routes from './routes'
import './store'
export default {
  routes: routes,
  name: 'Student'
}
</script>

<style scoped>

</style>
