<template>
  <v-dialog v-model="display" max-width="290">
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>
      <v-card-text>{{ text }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="normal darken-1"
          flat="flat"
          @click="resolve(false)">
          Відмінити
        </v-btn>
        <v-btn
          color="error darken-1"
          flat="flat"
          @click="resolve(true)">
          Так
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    title: String,
    text: String
  },
  data () {
    return {
      display: false,
      resolver: null
    }
  },
  methods: {
    show () {
      this.display = true
      return new Promise(resolve => {
        this.resolver = resolve
      })
    },
    resolve (result) {
      this.display = false
      if (this.resolver) {
        this.resolver(result)
      }
    }
  }
}
</script>

<style scoped>
</style>
