body{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-style: normal;
}

.search-field {
  max-width: 280px;
}

.data-table table {
  table-layout: fixed;
}

.data-table tbody {
  display: block;
  overflow-y: auto;
  max-height: 600px;
}

.data-table tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}
