<template>
  <div>
    <h2>Teacher</h2>
    <router-view/>
  </div>
</template>

<script>
import routes from './routes'
import './store'
export default {
  routes: routes,
  name: 'Teacher'
}
</script>

<style scoped>

</style>
