<template>
  <div>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap fill-height>
        <v-flex xs12>
          <v-flex xs7>
            <v-card-title>
              <h1>WeekSchedules</h1>
              <v-spacer />
              <v-text-field
                v-model="searchFilter"
                append-icon="search"
                label="Search"
                class="search-field" />
            </v-card-title>
          </v-flex>
        </v-flex>
        <v-layout row>
          <v-flex xs7>
            <div class="data-table">
            <v-data-table
              :headers="headers"
              :items="tableData"
              :search="searchFilter"
              hide-actions
              disable-initial-sort
              class="elevation-1 data-table">
              <template slot="items" slot-scope="{ item }">
                <tr :active="item.Id === model.Id" @click="rowSelected(item)">
                  <td class="text-xs-left">{{ item.GroupName }}</td>
                  <td class="text-xs-left">{{ item.SpecialtyName }}</td>
                  <td class="text-xs-left">{{ item.SubjectName }}</td>
                  <td class="text-xs-left">{{ item.TeacherName }}</td>
                  <td class="text-xs-left">{{ item.AuditoryName }}</td>
                  <td class="text-xs-left">{{ item.DayName }}</td>
                </tr>
              </template>
            </v-data-table>
            </div>
            <v-layout align-center justify-space-between row mt-3>
              <div>
                <v-btn @click="addEvent" v-show="!isChanged" color="success">Add</v-btn>
                <v-btn @click="deleteEvent" v-show="!isChanged" color="error">Delete</v-btn>
              </div>
              <div>
                <v-btn @click="cancelEvent" v-show="isChanged" color="normal">Cancel</v-btn>
                <v-btn @click="saveEvent" v-show="isChanged" color="info">Save</v-btn>
              </div>
            </v-layout>
          </v-flex>
          <v-flex xs-6 offset-xs1>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-select
                :items="groupKeyValues"
                v-model="model.GroupId"
                :rules="rules.GroupId"
                label="Group"
                required
                validate-on-blur
              />
              <v-select
                :items="subjectKeyValues"
                v-model="model.SubjectId"
                :rules="rules.SubjectId"
                label="Subject"
                required
                validate-on-blur
              />
              <v-select
                :items="teacherKeyValues"
                v-model="model.TeacherId"
                :rules="rules.TeacherId"
                label="Teacher"
                required
                validate-on-blur
              />
              <v-select
                :items="auditoryKeyValues"
                v-model="model.AuditoryId"
                :rules="rules.AuditoryId"
                label="Auditory"
                required
                validate-on-blur
              />
              <v-select
                :items="scheduleTypeKeyValues"
                v-model="model.ScheduleTypeId"
                :rules="rules.ScheduleTypeId"
                label="ScheduleType"
                required
                validate-on-blur
              />
              <v-select
                :items="weekDaysKeyValues"
                v-model="model.Day"
                :rules="rules.Day"
                label="Day"
                required
                validate-on-blur
              />
              <v-select
                :items="lessonNumberKeyValues"
                :rules="rules.LessonNumber"
                v-model="model.LessonNumber"
                label="LessonNumber"
                required
                validate-on-blur
              />
            </v-form>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
    <confirm-dialog
      ref="confirm"
      title="Ви впевнені?"
      text="Відмінити видалення неможливо."
    />
  </div>
</template>

<script>
import './store'
import mixin from '../../mixin'
import { mapActions, mapGetters } from 'vuex'
import ConfirmDialog from '../../shared/ConfirmDialog'

export default {
  mixins: [
    mixin
  ],
  components: {
    ConfirmDialog
  },
  constants: {
    headers: [
      { text: 'Group', value: 'GroupName' },
      { text: 'Specialty', value: 'SpecialtyName' },
      { text: 'Subject', value: 'SubjectName' },
      { text: 'Teacher', value: 'TeacherName' },
      { text: 'Auditory', value: 'AuditoryName' },
      { text: 'Day', value: 'DayName' }
    ],
    rules: {
      AuditoryId: [
        v => !!v || 'Auditory is required'
      ],
      GroupId: [
        v => !!v || 'Group is required'
      ],
      TeacherId: [
        v => !!v || 'Teacher is required'
      ],
      SubjectId: [
        v => !!v || 'Subject is required'
      ],
      ScheduleTypeId: [
        v => !!v || 'ScheduleType is required'
      ],
      LessonNumber: [
        v => !!v || 'LessonNumber is required'
      ],
      Day: [
        v => !!v || 'Day is required'
      ]
    }
  },
  computed: {
    ...mapGetters('admin/weekschedule', {
      tableData: 'weekScheduleList',
      auditoryKeyValues: 'auditoryKeyValues',
      groupKeyValues: 'groupKeyValues',
      subjectKeyValues: 'subjectKeyValues',
      teacherKeyValues: 'teacherKeyValues',
      scheduleTypeKeyValues: 'scheduleTypeKeyValues',
      weekDaysKeyValues: 'weekDaysKeyValues',
      lessonNumberKeyValues: 'lessonNumberKeyValues'
    }),
    modelsEqual () {
      return (
        global.valueEquals(this.model.AuditoryId, this.modelCopy.AuditoryId) &&
        global.valueEquals(this.model.SubjectId, this.modelCopy.SubjectId) &&
        global.valueEquals(this.model.TeacherId, this.modelCopy.TeacherId) &&
        global.valueEquals(this.model.Day, this.modelCopy.Day) &&
        global.valueEquals(this.model.GroupId, this.modelCopy.GroupId)
      )
    }
  },
  methods: {
    ...mapActions('admin/weekschedule', [
      'getAll',
      'getById',
      'getAuditories',
      'getGroups',
      'getSubjects',
      'getTeachers',
      'getScheduleTypes',
      'add',
      'update',
      'delete'
    ])
  },
  created () {
    this.getAuditories()
    this.getGroups()
    this.getSubjects()
    this.getTeachers()
    this.getScheduleTypes()
  }
}
</script>

<style scoped>
</style>
