<template>
<div>
  <v-navigation-drawer
    fixed
    v-model="drawerRight"
    right
    clipped
    app
    dark
  >
      <v-date-picker
        :first-day-of-week="1"
        :title-date-format="headerDateFormat"
        v-model="picker"
        locale="uk"
        :events="arrayEvents"
        class="my-3 shadow-none"
      ></v-date-picker>
  </v-navigation-drawer>
  <v-toolbar
    fixed
    app
    clipped-right
    height="45px"
  >
    <v-layout justify-space-between >
      <div>
        <v-btn flat icon>
          <v-icon>add</v-icon>
        </v-btn>
        <v-btn flat icon>
          <v-icon>keyboard_arrow_down</v-icon>
        </v-btn>
      </div>
      <div>
        <v-btn
          outline
          color="grey darken-3">День</v-btn>
        <v-btn flat>Тиждень</v-btn>
      </div>
      <div>
        <v-btn flat active-class="va" icon>
          <v-icon>keyboard_arrow_left</v-icon>
        </v-btn>
        <v-btn flat>
          Сьогодні
        </v-btn>
        <v-btn flat icon>
          <v-icon>keyboard_arrow_right</v-icon>
        </v-btn>
      </div>

    </v-layout>
  </v-toolbar>
  <v-content>
    <v-container fluid fill-height>
      <v-layout justify-center align-center>
        <v-flex shrink>
          <v-tooltip right>
            <v-btn
              icon
              large
              :href="source"
              target="_blank"
              slot="activator"
            >
              <v-icon large>code</v-icon>
            </v-btn>
            <span>Source</span>
          </v-tooltip>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      drawer: true,
      drawerRight: true,
      right: null,
      left: null,
      selectDay: true,
      source: 'sdddddddddd',
      arrayEvents: null,
      picker: new Date().toISOString().substr(0, 10)
    }
  },
  methods: {
    headerDateFormat: function (value) {
      if (value) {
        return `<div style='font-size: 3em;text-align: center;font-family: Courier New'>${value.substr(value.length - 2)}</div><div style='text-align: center; color: hsla(0,0%,100%,.5);'>${new Date(value).toLocaleString('uk', {weekday: 'long'})}</div>`
      }
    }
  },
  mounted () {
    this.arrayEvents = [...Array(8)].map(() => {
      const day = Math.floor(Math.random() * 30)
      const d = new Date()
      d.setDate(day)
      return d.toISOString().substr(0, 10)
    })
    this.arrayEvents.map(a => {
      this.arrayEvents.push(a)
    })
  }
}
</script>

<style scoped>
.day-btn {
  width: 75px;
}
.shadow-none{
  box-shadow: none;
}
h1 .my-title-date-format{
  color: red;
  font-size: 70px;
 }
</style>
