<template>
  <div>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap fill-height>
        <v-flex xs12>
          <v-flex xs7>
            <v-card-title>
              <h1>Teachers</h1>
              <v-spacer />
              <v-text-field
                v-model="searchFilter"
                append-icon="search"
                label="Search"
                class="search-field" />
            </v-card-title>
          </v-flex>
        </v-flex>
        <v-layout row>
          <v-flex xs7>
            <div class="data-table">
            <v-data-table
              :headers="headers"
              :items="tableData"
              :search="searchFilter"
              hide-actions
              disable-initial-sort
              class="elevation-1 data-table">
              <template slot="items" slot-scope="{ item }">
                <tr :active="item.Id === model.Id" @click="rowSelected(item)">
                  <td class="text-xs-left">{{ item.Name }}</td>
                  <td class="text-xs-left">{{ item.Email }}</td>
                  <td class="text-xs-left">{{ item.Phone }}</td>
                </tr>
              </template>
            </v-data-table>
            </div>
            <v-layout align-center justify-space-between row mt-3>
              <div>
                <v-btn @click="addEvent" v-show="!isChanged" color="success">Add</v-btn>
                <v-btn @click="deleteEvent" v-show="!isChanged" color="error">Delete</v-btn>
              </div>
              <div>
                <v-btn @click="cancelEvent" v-show="isChanged" color="normal">Cancel</v-btn>
                <v-btn @click="saveEvent" v-show="isChanged" color="info">Save</v-btn>
              </div>
            </v-layout>
          </v-flex>
          <v-flex xs-6 offset-xs1>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="model.Name"
                :rules="rules.Name"
                :counter="250"
                label="Name"
                required
                validate-on-blur
              />
              <v-text-field
                v-model="model.Description"
                :counter="250"
                :rules="rules.Description"
                label="Description"
                validate-on-blur
              />
              <v-text-field
                v-model="model.Email"
                :rules="rules.Email"
                label="Email"
                required
                validate-on-blur
              />
              <v-text-field
                v-model="model.Phone"
                :rules="rules.Phone"
                label="Phone"
                required
                validate-on-blur
              />
              <v-select
                :items="userKeyValues"
                v-model="model.ApplicationUserId"
                :rules="rules.ApplicationUserId"
                label="User"
                required
                validate-on-blur
              />
            </v-form>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-container>
    <confirm-dialog
      ref="confirm"
      title="Ви впевнені?"
      text="Відмінити видалення неможливо."
    />
  </div>
</template>

<script>
import './store'
import mixin from '../../mixin'
import { mapActions, mapGetters } from 'vuex'
import ConfirmDialog from '../../shared/ConfirmDialog'

export default {
  mixins: [
    mixin
  ],
  components: {
    ConfirmDialog
  },
  constants: {
    headers: [
      { text: 'Name', value: 'Name' },
      { text: 'Email', value: 'Email' },
      { text: 'Phone', value: 'Phone' }
    ],
    rules: {
      Name: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 250) || 'Name must be less than 250 characters'
      ],
      Description: [
        v => (v && v.length <= 500) || 'Description must be less than 500 characters'
      ],
      Phone: [
        v => /^[0-9]*$/.test(v) || 'Phone must be valid'
      ],
      Email: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ]
    }
  },
  computed: {
    ...mapGetters('admin/teacher', {
      tableData: 'teacherList',
      userKeyValues: 'userKeyValues'
    }),
    modelsEqual () {
      return (
        global.valueEquals(this.model.Name, this.modelCopy.Name) &&
        global.valueEquals(this.model.ApplicationUserId, this.modelCopy.ApplicationUserId) &&
        global.valueEquals(this.model.Email, this.modelCopy.Email) &&
        global.valueEquals(this.model.Phone, this.modelCopy.Phone) &&
        global.valueEquals(this.model.Description, this.modelCopy.Description)
      )
    }
  },
  methods: {
    ...mapActions('admin/teacher', [
      'getAll',
      'getById',
      'getUsers',
      'add',
      'update',
      'delete'
    ])
  },
  created () {
    this.getUsers()
  }
}
</script>

<style scoped>
</style>
